<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-for展示</title>
</head>
<body>
    <div id="app">
            <h1>v-for</h1>
            <hr>
            <ul>
                <li  v-for="item in itemss">
                    {{item}}
                </li>
            </ul>
            <hr>
            <ul>
                <li v-for="(student,index) in studentss">
                    {{index+1}}: {{student.name}}({{student.age}})
                </li>
            </ul>
    </div>
    <script type="text/javascript" >
        var app = new Vue({
            el: '#app',
            data: {
                items: [1,7,13,54,45],
                students: [{
                    name: "seth",
                    age: 18
                },{
                    name: "daxiong",
                    age: 14
                }]
            },
            methods: {
                arraySort: function(a,b){
                    return a - b
                },
                studentSort: function(array,key){
                    return array.sort(function(a,b){
                        let x = a[key]
                        let y = b[key]
                        return (x < y) ? -1 : (x > y ? 1 : 0)
                    })
                }
            },
            computed: {
                itemss: function(){
                    return this.items.sort(this.arraySort)
                },
                studentss : function(){
                    return this.studentSort(this.students,'age')
                }
            }
        })
    </script>
</body>
</html>