<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-model实例</title>
</head>
<body>
   <h1>v-model实例</h1> 
   <hr>
   <div id="app">
       <h3>input输入框</h3>
       <hr>
       <span v-text = "message"></span> <br/>
       <input type="text" v-model="message"><br/>
       <input type="text" v-model.lazy="message"><br/>
       <input type="text" v-model.number="message"><br/>
       <input type="text" v-model.trim="message">
       <h3>文本域</h3>
       <hr>
       <textarea v-model="message"></textarea>
       <h3>单个checkbox框</h3>
       <hr>
       <input type="checkbox"  v-model="isTrue">{{isTrue}}
       <h3>多个checkbox框</h3>
       <hr>
       <input type="checkbox" value="seth" v-model="myNicks">seth
       <input type="checkbox" value="sushuaixiong" v-model="myNicks">sushuaixiong
       <input type="checkbox" value="daxiong" v-model="myNicks">daxiong
       <p>{{myNicks}}</p>
       <h3>radio</h3>
       <hr>
       <input type="radio" value="男" v-model="sex">男
       <input type="radio" value="女" v-model="sex">女
       <p>{{sex}}</p>
   </div>
   <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello world',
                isTrue: true,
                myNicks:[],
                sex: ""
            }
        })
   </script>
</body>
</html>